.modal {
	background-color: var(--background-tertiary);
	box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
}
