.modal {
	background-color: rgb(39, 35, 35);
	border: 1px solid grey;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
}