html,
body {
	padding: 0;
	margin: 0;

	--background-primary: rgb(18, 16, 20);
	--background-secondary: rgb(23, 22, 26);
	--background-tertiary: rgb(35, 33, 41);

	--text-primary: rgb(240, 240, 240);
	--text-secondary: rgb(150, 150, 150);

	--brand-1: rgb(61, 20, 99);

	background-color: var(--background-primary);
	color: var(--text-primary);

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;

	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

#modal-container {
	display: none;
}

#modal-container .show {
	display: block;
	position: absolute;
}

a,
a:visited {
	color: white;
}
